* {
    font-family: Public Sans, Inter, system-ui, sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: #000020;
}

.bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: url('bg.svg');
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.glass {
    padding: 30px;
    border-radius: 40px;
    max-width: 700px;
    max-height: 95vh;
    background: rgba(0, 0, 0, 0.513);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
    font-size: 40px;
}

hr {
    border: 0;
    background: rgba(255, 255, 255, 0.2);
    height: 1px;
    width: 100%;
    display: block;
    margin: 10px 3px;
}

textarea {
    height: 200px;
    width: 400px;
    overflow: auto;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    font-family: monospace;
    cursor: pointer;
    margin: 10px;
}

#input {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#input:focus {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: 0;
}

input {
    margin: 10px
}

input[type=range] {
    margin: 0 10px
}

.loading {
    border: 3px solid #94000000;
    /* Light grey */
    border-top: 3px solid #ffffff;
    /* Blue */
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: 0.3s;
    opacity: 0;
    width: 20px;
    height: 20px;
    animation: spin 0.5s cubic-bezier(.74, .33, .36, .72) infinite;
}

.loading.showing {
    opacity: 1
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline;
    margin: 10px;
    height: 8px;
    background-color: #ffffff54;
    border-radius: 8px;
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 8px;
}

input[type="range"]::-moz-track {
    -moz-appearance: none;
    height: 8px;
}

input[type="range"]::-ms-track {
    appearance: none;
    height: 8px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #ffffff9f;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: #ffffff9f;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}

input[type="range"]::-ms-thumb {
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #ffffff9f;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -6px;
    border: none;
}

select {
    color: black;
    margin-right: 5px
}

.toastcont {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.toast {
    padding: 12px 29px;
    border-radius: 10px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    background: rgba(0, 255, 85, 0.3);
    border: 1px solid rgba(0, 255, 85, 0.735);
    color: white;
    backdrop-filter: blur(10px) opacity(0);
    -webkit-backdrop-filter: blur(10px) opacity(0);
    transform: translateX(calc(100% + 20px));
    transition: 1s;
    opacity: 0;
}

.toast p {
    font-size: 15px;
    opacity: 0.7;
}

.toast b {
    font-size: 18px;
    font-weight: 500;
}

.toast.showing {
    opacity: 1;
    backdrop-filter: blur(10px) opacity(1);
    -webkit-backdrop-filter: blur(10px) opacity(1);
    transform: translateX(0%)
}
