* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-weight: 200;
  font-family: 'Arial', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  margin: 0;
  overflow: hidden;
}

body a {
  color: white;
  text-decoration: none;
}

nav {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.24);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 7;
  -webkit-animation: navload 2s;
          animation: navload 2s;
  height: 100px;
  bottom: calc(100% - 120px);
}

nav div.left {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav div.left a {
  font-size: 30px;
  padding: 20px;
  color: white;
  text-decoration: none;
}

nav div:not(.left) {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav div:not(.left) a {
  font-size: 20px;
  padding: 20px;
  color: white;
  text-decoration: none;
  position: relative;
}

nav div:not(.left) a:hover {
  opacity: 0.9;
}

nav div:not(.left) a:hover::before {
  width: 100%;
  left: 0;
}

nav div:not(.left) a::before {
  width: 0;
  height: 3px;
  position: absolute;
  left: 50%;
  right: 0;
  bottom: 0;
  content: "";
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #ffffff;
}

main {
  height: 100%;
  -ms-scroll-snap-points-y: repeat(100%);
      scroll-snap-points-y: repeat(100%);
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow: scroll;
}

main section.second-page, main section.first-page {
  scroll-snap-align: start;
  height: 100%;
}

main section.second-page {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#240854), to(#002d58));
  background: linear-gradient(#240854, #002d58);
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.second-page .h1-wrap {
  background-color: #fff;
  width: 300px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.349);
          box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.349);
}

main section.second-page .h1-wrap h1 {
  color: black;
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 45px;
}

main section.second-page .h1-wrap p {
  color: black;
  margin: 20px;
  text-align: center;
}

main section.second-page .logo-wrap .logo {
  height: 200px;
  -webkit-transform: scale(2);
          transform: scale(2);
}

main div.hero {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main div.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("hero.png");
  z-index: -1;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  -webkit-animation: heroload 1s;
          animation: heroload 1s;
}

main div.hero h1.title {
  font-size: 100px;
  -webkit-animation: h1load 2s;
          animation: h1load 2s;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.212);
  padding: 10px;
}

main .arrow-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main .arrow-wrap #goDown {
  position: absolute;
  z-index: 6;
  bottom: 40px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg) scale(5);
  border: solid white;
  border-width: 0 1px 1px 0;
  padding: 3px;
  -webkit-animation: arrow 4s infinite;
          animation: arrow 4s infinite;
}

@-webkit-keyframes arrow {
  0% {
    bottom: 40px;
  }
  15% {
    bottom: 50px;
  }
  30% {
    bottom: 40px;
  }
  45% {
    bottom: 50px;
  }
  60% {
    bottom: 40px;
  }
}

@keyframes arrow {
  0% {
    bottom: 40px;
  }
  15% {
    bottom: 50px;
  }
  30% {
    bottom: 40px;
  }
  45% {
    bottom: 50px;
  }
  60% {
    bottom: 40px;
  }
}

@-webkit-keyframes navload {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  40% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@keyframes navload {
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  40% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@-webkit-keyframes heroload {
  from {
    opacity: 0;
  }
}

@keyframes heroload {
  from {
    opacity: 0;
  }
}

@media only screen and (min-width: 800px) {
  main .second-page .logo-wrap .logo {
    height: 400px;
  }
}
/*# sourceMappingURL=styles.css.map */