* {
  animation-duration: 0.2s
}

body {
  background-color: #dad7f4;
  height: 100%;
  width: 100%;
  font-family: Inter, sans-serif;
}

body.calculator-body {
  background-color: #111;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
  background-color: #eee;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 10px;
  pointer-events: all;
}
header h1 {
  font-size: 20px;
  margin: 0;
  margin-left: 10px;
}

#output {
  word-wrap: break-word;
}

main {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}
main .flex-box {
  border-radius: 10px;
  background-color: #9aa0ef;
  padding: 60px;
  border: 4px solid #47436c;
  margin: 50px;
  max-width: 50%;
  min-width: 10px;
}
main .flex-box .message {
  display: none;
}
main .flex-box.output {
  background-color: #9aefa1;
  display: block;
}
main .flex-box.boxshadow {
  background-color: #f1f0fa;
  padding: 30px;
  border: none;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.137);
  width: calc(80%- 30px);
}
main #generate {
  display: block;
}

main[data-css=boxshadow] {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
main[data-css=boxshadow] div#div {
  height: 500px;
  width: 40%;
  margin-top: 40px;
  border: none;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
}

input[type=range] {
  -webkit-appearance: none;
  background: #3bade3;
  background: -moz-linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  background: -webkit-linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  background: -ms-linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  height: 3px;
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: 2px solid;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  max-width: 80px;
  bottom: 11px;
  border: 2px solid #4135a2;
  background: #9aa0ef;
  transition: 0.3s;
  transform: scale(1);
  opacity: 0.9;
}

input[type=range]:hover::-webkit-slider-thumb,
input[type=range]:hover::-webkit-slider-thumb {
  transform: scale(1.1);
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.5s;
  background-color: rgba(65, 65, 147, 0.959);
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
  width: 0;
  overflow: scroll;
  display: none;
}
.overlay h1 {
  margin: 0;
  font-size: calc(35px + 5vw);
  font-weight: 900;
}
.overlay h2 {
  margin: 0;
  font-size: calc(15px + 5vw);
  font-weight: 300;
}
.overlay hr {
  width: 50%;
}
.overlay div {
  overflow: scroll;
}
.overlay .code {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  font-size: 15px;
}

footer {
  position: fixed;
  bottom: 20px;
  display: flex;
  right: 0;
  left: 0;
  justify-content: center;
}
footer .foot {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 4px;
}
footer .foot p,
footer .foot a {
  color: white;
  margin: 0;
  transition: 0.2s;
}

/* for calculator */

.flex-align {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calculator {
  padding: 20px;
  max-width: 280px;
  min-height: 425px;
  max-height: 500px;
  border-radius: 50px;
background: linear-gradient(145deg, #1a003a, #4b00a7);
box-shadow:  20px 20px 60px hsla(267, 96%, 21%, 0.37), 
             -20px -20px 60px hsla(267, 97%, 28%, 0.315);
  position: relative
}
.calculator-display {
  width: 240px;
  min-height: 95px;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Arimo', sans-serif;
  position: relative;
  word-wrap: break-word;
  border-radius: 30px;
  outline: none;
}
input {
  height: 1.1em;
  background-color: transparent;
  border: none;
}
.calculator-display.top {
  width: 99%;
  font-size: 1.1em;
  resize: none;
  border: none;
  outline: none;
  background: linear-gradient(145deg, #0c0618, #170b33);
  color: white;
  float: right;
}
.calculator-buttons {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  float: right;
  position: relative;
}

.calculator-buttons left {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  float: left;
  position: relative;
  width: 50%;
}

.calc-button {
  width: 50px;
  max-height: 20px;
  padding: 12px 0;
  margin: 0.35em;
  border-radius: 73px;
  background: linear-gradient(95deg, #ffffff, #b9b9b9);
  transition: .1s;
  color: #00344f;
  font-family: 'Arimo', sans-serif;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  float: left;
}

.calc-button:nth-last-child(1), .calc-button:nth-last-child(2) {
  margin-top: -51px;
}

.calc-button.scientific:nth-last-child(1), .calc-button.scientific:nth-last-child(2) {
  margin-top: 160px;
}

.calc-button.scientific {
  margin-top: 160px;
}

.calc-button.height {
  padding: 40px 0;
}

.settings {
  position: absolute;
  top:15px;
  right: 25px;
  color: rgb(213, 173, 230);
  font-size: 30px;
  cursor: pointer;
  transition: .3s;
}

.settings:hover {
  text-shadow: 0px 0px 7px rgba(246, 169, 233, 0.466);
  transform: scale(1.1)
}
.calc-button:active {
  transform: translateY(1px);
  border-radius: 50px;
background: linear-gradient(95deg, #ffffff, #b9b9b9);
box-shadow: inset 4px 4px 9px #d9d9d9, 
            inset -4px -4px 9px #ffffff;
}

.modal {
  position: fixed;
  top: 25%;
  bottom: 25%;
  left: 30%;
  right: 30%;
  animation-duration: 0.6s;
  background-color: #ccc;
  animation-timing-function: ease-in-out;
  margin:0;
  z-index: 11;
  display: none;
  padding: 10px;
}

.modal p {
  margin:0;
}

.modal-close {
  position: absolute;
  top: 0;
  right:0;
  font-weight: 100;
  font-size: 30px;
  padding: 10px 30px;
  margin:0;
  transition: 200ms;
  cursor: pointer;
}

.modal-close:hover {
  background-color: rgb(255, 21, 21);
  color: white;
}


#overlayBlack {
  position: fixed;
  z-index: 10;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #000000ea;
  opacity:0;
  display: none;
  transition: 1s;
}

@keyframes kern-out {
  to {color: transparent; text-shadow: 0 0 8px rgb(255, 255, 255);}
}

@media only screen and (max-width: 780px) {
  main {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  main .flex-box {
    max-width: 70%;
  }
  main #hideOnMobile {
    display: none;
  }
  main #generate {
    display: none;
  }

  .overlay {
    display: flex;
    opacity: 1;
  }

  main[data-css=boxshadow] {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main[data-css=boxshadow] div#div {
    max-width: 70%;
  }
  main[data-css=boxshadow] .message {
    display: block;
  }
}

@keyframes bounce-in {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }

  25% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  50% {
    -webkit-transform: scale3d(0.92, 0.92, 0.92);
    transform: scale3d(0.92, 0.92, 0.92);
  }

  75% {
    opacity: 1;
    -webkit-transform: scale3d(1.01, 1.01, 1.01);
    transform: scale3d(1.01, 1.01, 1.01);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes float-out {
  to {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    -moz-transform: translateY(100px);
  }
}