body {
    margin:0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to top, #161618 0%, transparent 50%), url("image0.jpg");
    background-size: cover;
}

h1 {
    color: white;
    text-shadow: 0 0 10px black;
    font-size: 150px;
    font-family: Cabin;
    animation: fade-in 1s;
    margin:0;
}

 h2 {
    color: white;
    text-shadow: 0 0 10px black;
    font-size: 50px;
    font-style: oblique;
    font-family: Bitter, serif;
    animation: skew-in 1s;
    margin:0;
}

.line {
    height: 4px;
    width: 50px;
    background-color: white;
    box-shadow: 0 0 10px black;
    margin-left: 20px;
    margin-right: 20px;

    animation: width 1s;
}

.container {
    display: flex;
    align-items: center;
}