* {
    animation-duration: 1s;
    outline:0;
}

body {
    background-color: rgb(16, 16, 43);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    animation: load-in 1s;
    overflow: hidden;
}

.title {
    border-radius: 5px;
    background: #b9598e;
    padding: 20px;
    text-align: center;
    margin-bottom:20px;
    transition: 0.5s;
}

h1 {
    font-size: 50px;
    margin:0;
}

p {
    font-size: 25px;
    margin:0;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-top:20px;
}

nav button {
    border-radius: 2px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    transition: background 400ms;
    color: #fff;
    box-shadow: 0 0 10px 0 hsla(174, 100%, 42%, 0) inset, 0 0 20px 2px hsla(174, 100%, 42%, 0);
    border: 3px solid #d83838;
    padding: 1rem 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    background: none;
    transition: 0.5s;
    opacity:0.5;
    margin-left: 20px;
    margin-right: 20px;
}

nav button:hover {
    box-shadow: 0 0 10px 0 #8100d7 inset, 0 0 20px 2px #9300d7;
    border: 3px solid #ae00ff;
    opacity:1;
    margin-left: 30px;
    margin-right: 30px;
}



/* Component Download Homepage */


body.componentdownload {
    background: radial-gradient(rgb(97, 97, 133), rgb(72,72,105));
}
.box {
    position: fixed;
    top: 10%;
    bottom: 10%;
    right: 20%;
    left: 20%;

    background-color: #f1f1f1;
    color: black;
    border-radius: 20px;
    box-shadow: 0 20px 50px 10px rgba(0, 0, 0, 0.342)
}

.header {
    margin:0;
    background-color: #dddddd;
    border-radius: 20px;
    padding: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.component {
    background-color: #ffffff;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;

    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.342);

    cursor: pointer;
    transition: 200ms;

    max-width: 400px;
    overflow:hidden;
    min-width: 140px;
}

.component:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.342)
}

.component h2 {
    font-size: 25px;
    margin:0;
}

.component p {
    font-size: 20px;
}

/* Projects Page */

@keyframes load-out {
    to {transform: translateY(10px); opacity:0;}
}

@keyframes load-in {
    from {transform: translateY(10px); opacity:0;}
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 100px;
    transition: 0.3s;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: linear-gradient(
        90deg
        ,#434343,#434343 1px,#111 0,#111);
    border-radius: 6px;
    transition: 0.3s;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #434343;
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
  }

img {
    max-height:200px;
    max-width: 300px;
}

.modal-box {
    padding: 20px;
    background-color: #4f4d75;
    max-width: 800px;
    border-radius: 6px;
    height: 500px;
    overflow-y: scroll;
}


.projects-wrap {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-item {
    padding: 20px;
    max-width: 300px;
    background-color: #efefef;
    margin: 20px;
    border-radius: 6px;
    color: black;
    transition: 0.2s;
    cursor: pointer;
}

.project-desc {
    font-weight: 100;
    font-size: 20px;
}

.project-item:hover {
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px)
}

body[discord] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.discord-wrap {
    padding: 30px;
    background-color: #4f4d75;
    max-width: 800px;
    border-radius: 6px;
    position: relative;
}

.discord-wrap p {
    position: absolute;
    top:10px;
    right:10px;
    cursor: pointer;
}

.discord-wrap h2 {
    margin:0;
}