body {
    background-color: rgb(16, 16, 43);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Roboto, Arial, Helvetica, sans-serif
}

.title {
    border-radius: 5px;
    background: #b9598e;
    padding: 20px;
    text-align: center;
    margin-bottom:20px;
    transition: 0.5s;
}

h1 {
    font-size: 50px;
    margin:0;
}

p {
    font-size: 25px;
    margin:0;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vh;
    margin-top:20px;
}

nav button {
    border-radius: 2px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    transition: background 400ms;
    color: #fff;
    box-shadow: 0 0 10px 0 hsla(174, 100%, 42%, 0) inset, 0 0 20px 2px hsla(174, 100%, 42%, 0);
    border: 3px solid #d83838;
    padding: 1rem 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    background: none;
    transition: 0.5s;
    opacity:0.5;
}

nav button:hover {
    box-shadow: 0 0 10px 0 #8100d7 inset, 0 0 20px 2px #9300d7;
    border: 3px solid #ae00ff;
    opacity:1;
    margin-left: 20px;
    margin-right: 20px;
}



/* Component Download Homepage */



body.componentdownload {
    background: radial-gradient(rgb(97, 97, 133), rgb(72,72,105));
}
.box {
    position: fixed;
    top: 10%;
    bottom: 10%;
    right: 20%;
    left: 20%;

    background-color: #f1f1f1;
    color: black;
    border-radius: 20px;
    box-shadow: 0 20px 50px 10px rgba(0, 0, 0, 0.342)
}

.header {
    margin:0;
    background-color: #dddddd;
    border-radius: 20px;
    padding: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.component {
    background-color: #ffffff;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;

    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.342);

    cursor: pointer;
    transition: 200ms;

    max-width: 400px;
    overflow:hidden;
    min-width: 140px;
}

.component:hover {
    transform: translateY(-2px);
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.342)
}

.component h2 {
    font-size: 25px;
    margin:0;
}

.component p {
    font-size: 20px;
}