.cssNotice {
    display: none
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
    margin: 0;
    box-sizing: border-box;
    color: #fff
}

::-webkit-scrollbar {
    width: 10px;
    position: absolute;
    right: 15px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f123;
    padding: 3px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    margin: 13px;
    display: block;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.596);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.555);
}

body {
    background: #000020;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-box {
    backdrop-filter: blur(30px);
    max-height: 600px;
    max-width: 900px;
    margin: 40px;
    position: fixed;
    overflow: hidden;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, .4);
    background: rgba(255, 255, 255, .1)
}

.body-box .inner {
    padding: 40px;
    overflow-y: auto;
    max-height: 500px;
}

.title {
    font-weight: 400;
    font-size: 3em;
    margin-bottom: 5px;
    text-align: center;
}

.title span {
    font-weight: 200
}

button {
    background: rgba(27, 0, 203, .3);
    border: 1px solid rgba(255, 255, 255, .253);
    position: relative;
    border-radius: 200px;
    padding: 10px 30px;
    overflow: hidden;
    font-size: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    cursor: pointer
}

button::after {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    content: '→';
    z-index: 0;
    position: absolute;
    left: 0;
    transition: .3s cubic-bezier(.38, .51, .21, 1.58);
    right: 0;
    bottom: 0;
    height: 0%;
    background: #1b00cb
}

button:hover::after {
    height: 100%
}

button:hover {
    color: #ccc
}

h1 {
    font-size: 50px;
    width: 100%;
    text-align: center
}

.box {
    background: #21216c96;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 30px;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, .253);
    transition: .2s;
    cursor: pointer;
    flex-shrink: 1;
}

.box:hover {
    background: #21216cc2;
    border: 1px solid rgba(255, 255, 255, .8)
}

.box h1 {
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    width: 100%;
}

.box p {
    text-align: center;
}

.box img {
    max-width: 300px;
    width: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .3)
}

.box-buttons {
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center
}

.box-buttons button {
    margin: 5px;
    width: 100%;
    white-space: pre;
    background: #2114da
}

.box-buttons button::after {
    height: 70%;
    width: 70%;
    pointer-events: none;
    opacity: 0;
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAACnklEQVRoge2Zu4sTURSHvxNNFnw0WqgIKj76xcJGELHRRtZF0JRrYemjsLLy31ixENlGhU1YjJW4vaCgjY1YWLgiaKEgrjH+LDK4N8nMZB53JlHnV93cmXvO+eaeO3PvCVSqVKnS3yQr26GkJWBXxuEvzexG2IXN2UPKrOPAgYxjI+OtZTQ4dZrEjNwEto+5pwHcAnYWH05BklSX1FK4VqPGTVVqSWoAD4BzTvfHJGMTp5akI8BJYEeq6Ab1GbhjZgqx3wDuMwjRBh4Dt3P4/ONgn6ROxFSn0SdJRyN8hKVTS1JD0kKS1BoHcUjS2qQgguuJQCJTS1INeAjsdrpfA8+BbymfyaKZvQiDYHRNtIGLZvYjpY9wSZobekpXJXnbCQQzsRwyE/Wh+/KllqRFx0DbF0BgOxFEcG8ikLjX736n/TRP4EOB1em/nead7jZwwcy6We3Ggcw47S9ZHbiKgOgAzTwQUOIHMQbivJmt57Vfyl4rAqJF/+00MhOSamb2K/j5FXgbtNeyOF91FtlCagMbdsIW9iNJMxH3z0q6ktZPoakVMRPLwHxYOkmaBZ6QYddbGEgMROjCzgMBBYFI2gTcIyFEoGvkOH94BwkgloCm0z0OIre8gkwKAjyCTBIC/KeWG3BpEODxg2hmPUmXgp9bKRECPH/ZHZhamRBQwBbFzHpAz7fdcZqqKkoeVSDTpv8CxF2wjaIDYfBE+jPt4DiQD047tCblS0F1xvWR/gAVY/yycxD6LumYN+Ojvq4PHbwOp7URWaeStA14w8a/S+vAXeAVGaY+QluAU8BZp2/FzOY82e9L0hlJXZWn95L2eoVwYE7LT/13nJ5JOpg1zkQlUPXTrAmcAPZkdRaiLvCOflmo41ROKlWqVOkf128JhFKrd34cfQAAAABJRU5ErkJggg==)
}

.box-buttons button:hover::after {
    width: 100%;
    opacity: 1;
    height: 100%
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex-flow: wrap;
    width: 100%;
}

button[disabled] {
    opacity: .5;
    cursor: not-allowed
}

button[disabled]:active {
    pointer-events: none
}

button[disabled]:hover::after {
    display: none
}

button[disabled]:hover {
    color: #fff;
    opacity: .5
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-evenly
}

.links a {
    position: relative;
}

.links svg {
    transition: .1s
}

.links a::after {
    position: absolute;
    bottom: -80%;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.301);
    right: 50%;
    pointer-events: none;
    transform: translateX(50%) translateY(-20px);
    opacity: 0;
    transition: 0.2s;
    text-align: center;
    background: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .253);
    padding: 5px 7px;
    border-radius: 30px;
    content: attr(tooltip);
}

.links svg:hover {
    filter: drop-shadow(0 2px 3px rgba(255, 255, 255, .377))
}

.links a:hover::after {
    transform: translateX(50%) translateY(-10px);
    opacity: 1;
}

@keyframes goup {
    from {
        transform: translateY(15px);
        opacity: 0
    }
}

@media only screen and (min-width: 700px) {
    .projects {
        flex-flow: wrap;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .box {
        width: 46% !important;
    }
}

form {
    position: fixed;
    bottom:0;
    transition: 0.2s;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .3);
    background: rgba(53, 54, 124, 0.959);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form button {
    font-size: 20px;
}
form input {
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .3);
    background: rgba(255, 255, 255, .1);
}
form p#close {
    font-size: 30px;
    top:0;
    right:0;
    position: absolute;
    cursor: pointer;
    margin: 10px;
}
form p#close:hover {
    transform: scale(1.1)
}
.form-hidden {
    opacity:0;
    transform: translateY(10px)
}
