.cssNotice {
    display: none
}

a {
    text-decoration: none;
}

* {
    font-family: 'Public Sans', Inter, system-ui, sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: #fff
}

::-webkit-scrollbar {
    width: 10px;
    position: absolute;
    right: 15px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f123;
    padding: 3px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    margin: 13px;
    display: block;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.596);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.555);
}

body {
    background: #000020;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

.body-box .inner {
    padding: 40px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 900px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position:relative;
    align-items: center;
}

.inner::after,.inner::before {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index:2;
    width: 100vw;
    background: linear-gradient(to top, #000020, transparent);
    height: 40px;
    content: ''
}
.inner::before {
    top:0;
    bottom:unset;
    background: linear-gradient(to bottom, #000020, transparent);
}

.title {
    font-weight: 400;
    width: 100vw;
    font-size: calc(30px + 3vw);
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    background: rgba(27, 0, 203, .3);
    border: 1px solid rgba(255, 255, 255, .253);
    position: relative;
    border-radius: 200px;
    padding: 10px 30px;
    overflow: hidden;
    font-size: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    cursor: pointer
}

button::after {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    content: '→';
    z-index: 0;
    position: absolute;
    left: 0;
    transition: .3s cubic-bezier(.38, .51, .21, 1.58);
    right: 0;
    bottom: 0;
    height: 0%;
    background: #1b00cb
}

button:hover::after, button:focus::after {
    height: 100%
}

button:hover {
    color: #ccc
}

h1 {
    font-size: 50px;
    width: 100%;
    text-align: center
}

h2 {
    font-size: 30px;
    text-align: center;
    font-weight:100;
    font-style:normal
}

.box {
    background: #ffffff1f;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: fit-content;
    padding: 20px;
    border-radius: 25px;
    transition: .2s;
    cursor: pointer;
    flex-shrink: 1;
    flex-grow: 0;
    max-width: 400px;
}

.box:hover, .box:focus {
    background: #ffffff34;
    transform: translateY(-2px);

}

.box:hover h1, .box:focus h1 {
    opacity: 1;
}

.box:hover p, .box:focus p {
    opacity: 1;
}

.box h1 {
    transition: 0.2s;
    font-weight: 700;
    opacity: 0.9;
    font-size: 30px;
    text-align: center;
    width: 100%;
}

.box p {
    opacity: 0.8;
    text-align: center;
}

.box img {
    max-width: 300px;
    width: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

.box-buttons button:hover::after {
    width: 100%;
    opacity: 1;
    height: 100%
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: wrap;
    width: 100%;
}

button[disabled] {
    opacity: .5;
    cursor: not-allowed
}

button[disabled]:active {
    pointer-events: none
}

button[disabled]:hover::after {
    display: none
}

button[disabled]:hover {
    color: #fff;
    opacity: .5
}

.links a {
    position: relative;
    transition: .1s
}

.links {
    margin-left: 20px;
    display: flex;
    width: 100px
}

.links a::after {
    position: absolute;
    bottom: -10px;
    right: 50%;
    pointer-events: none;
    font-size: 15px;
    transform: translateX(50%) translateY(12px);
    opacity: 0;
    transition: 0.2s;
    text-align: center;
    background: #4f4f6891;
    padding: 5px 7px;
    border-radius: 6px;
    content: attr(tooltip);
}

.links a:hover {
    transform: translateY(-2px);
    opacity: 0.8
}

.links a:hover::after {
    transform: translateX(50%) translateY(10px);
    opacity: 1;
}

@keyframes goup {
    from {
        transform: translateY(15px);
        opacity: 0
    }
}

@media only screen and (min-width: 700px) {
    .projects {
        flex-flow: wrap;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .box {
        width: 46% !important;
    }
}

form {
    position: fixed;
    bottom: 0;
    transition: 0.2s;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .3);
    background: rgba(53, 54, 124, 0.959);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form button {
    font-size: 20px;
}

form input {
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .3);
    background: rgba(255, 255, 255, .1);
}

form p#close {
    font-size: 30px;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    margin: 10px;
}

form p#close:hover {
    transform: scale(1.1)
}

.form-hidden {
    opacity: 0;
    transform: translateY(10px)
}