* {
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white;
    margin:0;
}
body {
    background:
    linear-gradient(rgb(18, 102, 249), transparent),
    linear-gradient(to top left, rgb(88, 31, 222), transparent),
    linear-gradient(to top right, rgb(28, 161, 184), transparent), black;
    background-blend-mode: screen;
    height:100vh;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;

    margin:0;
}

.glass {
    background: rgba(235, 255, 235, 0.4);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 230, 232, 0.6);
    position: fixed;
    padding:40px;
    border-radius:20px;
    max-width:200px;
    transition: 0.5s;
    z-index:2;
    cursor:pointer
}
.glass h1 {
    font-weight:800;
    font-size:30px;
    margin-bottom:10px;
}
.glass p {
    font-weight:200;
    font-size:18px;
}
.glass#contact {
    background: rgba(230,255,230,0.4);
    border: 1px solid rgba(230,255,230,0.6);
    color: rgb(240,255,240)
}
.glass#projects {
    background: rgba(243, 230, 255, 0.4);
    border: 1px solid rgba(240, 230, 255, 0.6);
    color: rgb(252, 240, 255)
}