a {
    text-decoration: none
}

* {
    font-family: Inter, Roboto, -apple-system, system-ui, sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: #fff
}

::-webkit-scrollbar {
    width: 10px;
    position: absolute;
    right: 15px
}

::-webkit-scrollbar-track {
    background: #f1f1f123;
    padding: 3px
}

::-webkit-scrollbar-thumb {
    margin: 13px;
    display: block;
    border-radius: 10px;
    background: rgba(255, 255, 255, .596)
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, .555)
}

body {
    background: #000020;
    height: 100vh;
    width: 100vw;
    overflow: hidden
}

#visual,
#visual svg {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    transition: 0.2s;
    display: block
}

.body-box .inner {
    padding: 40px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    perspective: 10px;
}

.title {
    font-weight: 900;
    width: 100vw;
    font-size: calc(28px + 3vw);
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}

.subtitle {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.subtitle::before,
.subtitle::after {
    font-family: 'Courier New', Courier, monospace;
    height: 2px;
    width: clamp(50px, 150px, 400px);
    display: inline-block;
    background: linear-gradient(to right, white, rgba(255, 255, 255, 0));
    vertical-align: middle;
    margin: 0 10px;
    content: '';
    border-radius: 20px;
    opacity: 0.5;
    font-weight: 100;
}

.subtitle::before {
    background: linear-gradient(to left, white, rgba(255, 255, 255, 0));
}

button {
    background: rgba(27, 0, 203, .3);
    border: 1px solid rgba(255, 255, 255, .253);
    position: relative;
    border-radius: 200px;
    padding: 10px 30px;
    overflow: hidden;
    font-size: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    cursor: pointer
}

button::after {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    content: '→';
    z-index: 0;
    position: absolute;
    left: 0;
    transition: .3s cubic-bezier(.38, .51, .21, 1.58);
    right: 0;
    bottom: 0;
    height: 0%;
    background: #1b00cb
}

button:focus::after,
button:hover::after {
    height: 100%
}

button:hover {
    color: #ccc
}

h1 {
    font-size: 50px;
    width: 100%;
    text-align: center
}

h2 {
    font-size: 30px;
    text-align: center;
    font-weight: 100;
    font-style: normal;
}

.project {
    background: #ffffff1f;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    width: fit-content;
    padding: 20px;
    border-radius: 25px;
    transition: .3s cubic-bezier(0,.01,0,2.04);
    cursor: pointer;
    width: 440px;
    position: relative;
    overflow: hidden;
    height: 160px;
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.104);
}

.project:focus,
.project:hover {
    background: #ffffff29;
    transform: translateY(-3px);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.404);
}

.project h1 {
    transition: .2s;
    font-weight: 800;
    opacity: .9;
    font-size: 26px;
    width: 100%;
    text-align: left;
}


.project.new h1::after {
    background: rgba(0, 94, 255, 0.611);
    color: #fff;
    font-size: 15px;
    padding: 2px 8px;
    margin: 0 5px;
    content: 'New';
    border-radius: 15px;
}

.project p {
    opacity: .8;
    font-weight: 260;
}

.project p.small {
    font-size: 12;
    opacity: 0.5;
}

.project img {
    max-width: 160px;
    height: 120px;
    margin-right: 20px;
    border-radius: 20px
}

.project img~* {
    width: 100%;
}

.projects-wrap {
    width: 100vw;
    height: 90vh;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: wrap;
    width: 100vw;
    left: 0;
    right: 0;
    transition: 0.6s;
    position: absolute;
}

.project .music-sub {
    font-weight: 200;
    opacity: 0.7;
    font-size: 12px;
    text-transform: uppercase;
}

.project .music-sub::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f017";
    margin-right: 4px;
}

.project .music-sub.tracks::before {
    content: "\f03a";
}

button[disabled] {
    opacity: .5;
    cursor: not-allowed
}

button[disabled]:active {
    pointer-events: none
}

button[disabled]:hover::after {
    display: none
}

button[disabled]:hover {
    color: #fff;
    opacity: .5
}

.links a {
    position: relative;
    transition: .2s;
    opacity: 0.8;
}

.links a img {
    height: 50px;
    width: 50px;
}

.links {
    margin-left: 20px;
    display: flex;
    width: 100px
}

.links a::after {
    position: absolute;
    bottom: -5px;
    right: 50%;
    pointer-events: none;
    font-size: 15px;
    transform: translateX(50%) translateY(10px);
    opacity: 0;
    font-weight: 300;
    transition: .2s;
    text-align: center;
    content: attr(tooltip)
}

.links a:hover {
    transform: translateY(-2px);
    opacity: 1
}

.links a:hover::after {
    opacity: 0.9
}

.going-left,
.coming-left {
    transform: translateX(-10vw);
    opacity: 0
}

.going-right,
.coming-right {
    transform: translateX(10vw);
    opacity: 0
}

.select-project-type-wrap {
    display: flex;
    border-radius: 10px;
    padding: 0 2px;
    border: 1px solid rgba(255, 255, 255, .153);
    position: relative;
    background: rgba(255, 255, 255, .153);
}

.select-project-type-wrap .indicator {
    position: absolute;
    left: 0;
    margin: 5px;
    bottom: 0;
    top: 0;
    border-radius: 10px;
    transition: 0.5s;
    width: 65px;
    background: rgba(255, 255, 255, .15)
}

.select-project-type {
    padding: 4px 9px;
    margin: 5px 3px;
    cursor: pointer;
    min-width: 65px;
    text-align: center;
    border: 1px solid transparent;
    transition: 0.2s;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.8);
}

.select-project-type:hover {
    border: 1px dashed rgba(255,255,255,0.2);
}

.select-project-type.selected {
    color: rgba(255, 255, 255, 1);
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
    transition: 0.4s;
    backdrop-filter: blur(10px) opacity(0);
    -webkit-backdrop-filter: blur(10px) opacity(0);
}

.modal-container.overlay {
    opacity: 1;
    backdrop-filter: blur(10px) opacity(1);
    -webkit-backdrop-filter: blur(10px) opacity(1);
    pointer-events: all;
}

.modal {
    background: rgba(255, 255, 255, .153);
    padding: 20px;
    animation: modal 0.4s;
    border-radius: 20px;
    transform: scale(0.9);
    transition: 0.4s;
    color: var(--body-text-alternate)
}

.modal.showing {
    transform: scale(1);
}

.modal-buttons {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes modal {
    from {
        transform: scale(0.9)
    }
}

@keyframes goup {
    from {
        transform: translateY(15px);
        opacity: 0
    }
}

@media only screen and (min-width:700px) {
    .projects {
        flex-flow: wrap;
        flex-wrap: wrap;
        flex-direction: row
    }

    .box {
        width: 46% !important
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .links a svg,
    .links a img {
        height: 40px;
        width: 40px;
        opacity: 0.6;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: 0 !important;
        transition: 0s !important;
    }
}