body {
  height: 100%;
  background: #e9e9e9;
  overflow: hidden;
}
* {
  margin:0;
}

.flex-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height:100vh;
  padding-left: calc(30px + 5vw);
  font-family: Inter, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 30px;
}
.slice {
  left:70%;
  bottom: -100%;
  right: 0%;
  top: 0;
  position: fixed;
  z-index: -1;
  background-color: rgb(86, 53, 230);
  transform: rotateZ(35deg) scale(2);
  animation: a 2s;
  pointer-events:none;
}

h3 {
  font-weight: 300;
  animation: c 2s;
}

h1 {
  font-weight:900;
  animation: b 2s;
}
.is-transitioning {
  pointer-events: none;
  cursor: progress;
}
.loader {
  position: fixed;
  width: 100vw;
  height: 300vh;
  pointer-events: none;
  background-color: #0300cc;
  z-index: 3;
  left:0%;
}
a {
  padding: 11px 16px;
  background: #3519d2;
  border-radius: 3px;
  min-width: 64px;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  color: white;
  border:0;
  outline:0;
  transition: 0.5s;
  display: inline-block;
  margin: 7px;
  margin-left:0;
  font-size: 16px;
  cursor: pointer;
}
a.hidden {
  opacity:0;
  transform: translateY(30px);
}

a:hover {
  background: #2519d2ce;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2)
}
.button-wrap {
  display: flex;
  flex-direction: row;
}

@keyframes a {
  from {
    left: 100%;
    opacity:0;
  }
}