a {
    text-decoration: none;
}

* {
    font-family:
        -apple-system,
        Inter,
        system-ui,
        Helvetica Neue,
        Roboto,
        sans-serif;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    user-select: none;
    -webkit-user-select: none;
    corner-shape: superellipse(1.5);
}

@property --round {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
    /* or true depending on context */
}

:root {
    --base-bg: #200500;
    --card-bg: #ffffff1f;
    --card-bg-intense: #ffffff29;
    --card-border: rgba(255, 255, 255, 0.104);
    --card-border-intense: rgba(255, 255, 255, 0.404);
    --project-animateX: 5px;
}

::-webkit-scrollbar {
    width: 10px;
    position: absolute;
    right: 15px;
}

::-webkit-scrollbar-track {
    background: #f1f1f123;
    padding: 3px;
}

::-webkit-scrollbar-thumb {
    margin: 13px;
    display: block;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.596);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.555);
}

body {
    background: var(--base-bg);
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
    line-height: 1.3;
}

#visual,
#visual svg {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    display: block;
}

.inner {
    padding: 40px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    perspective: 10px;
}

.title {
    font-weight: 700;
    transition: 0s;
    width: 100vw;
    font-size: calc(28px + 3vw);
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    position: relative;
    color: rgba(255, 255, 255, 0.9);
    /*clip-path: polygon(0 73%, 100% 76%, 100% 0, 0 0);*/
}
.title::after {
    color: rgba(255, 105, 0);
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    position: absolute;
    left: -60px;
    width: 100vw;
    text-align: center;
    content: "pineappıerinp ";
}

h1 {
    font-size: 50px;
    width: 100%;
    text-align: center;
    letter-spacing: -0.04em;
}

:is(h1 *)::after,
:is(h1 *)::before {
    letter-spacing: 0em;
}

h2 {
    font-size: 30px;
    text-align: center;
    font-weight: 100;
    font-style: normal;
}

.project {
    background: var(--card-bg);
    color: #fff;
    display: flex;
    align-items: center;
    margin: 10px;
    width: fit-content;
    padding: 20px;
    border-radius: 35px;
    transition:
        0.2s scale cubic-bezier(0.34, 0, 0.39, 1.52),
        0.2s border cubic-bezier(0.34, 0, 0.39, 1.52),
        0.2s background cubic-bezier(0.34, 0, 0.39, 1.52);
    cursor: pointer;
    width: 440px;
    position: relative;
    height: 170px;
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid var(--card-border);
}

.project:focus,
.project:hover {
    background: var(--card-bg-intense);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.6);
    border: 1px solid var(--card-border-intense);
    scale: 1.005;
}

.project h1 {
    font-weight: 400;
    letter-spacing: -0.02em;
    font-style: italic;
    opacity: 0.9;
    font-size: 26px;
    width: fit-content;
    position: relative;
    text-align: left;
    line-height: 1;
}

.project.new h1::after,
.project.soon h1::after {
    background: rgba(255, 94, 0, 0.911);
    color: #fff;
    font-size: 15px;
    padding: 2px 8px;
    margin: 0 6px;
    content: "New";
    border-radius: 15px;
    vertical-align: middle;
}

.project.soon h1::after {
    background: rgba(255, 123, 7, 0.389);
    content: "Soon";
}

.project p {
    margin-top: 0.3em;
    opacity: 0.8;
    font-weight: 260;
}

.project p.small {
    font-size: 12;
    opacity: 0.5;
}

.project img {
    max-width: 160px;
    height: 120px;
    margin-right: 20px;
    border-radius: 20px;
}

.project img ~ * {
    width: 100%;
}

.projects-wrap {
    width: 100vw;
    max-width: 1100px;
    height: 90vh;
    height: 90dvh;
    display: flex;
    justify-content: center;
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: wrap;
    max-width: 100vw;
    padding: 0 50px;
    left: 0;
    right: 0;
    position: absolute;
    transition: 0.2s;
}

.project .music-sub {
    font-weight: 200;
    opacity: 0.7;
    font-size: 12px;
    text-transform: uppercase;
}

.project .music-sub::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f017";
    margin-right: 4px;
}

.project .music-sub.tracks::before {
    content: "\f03a";
}

.project .music-sub.date::before {
    content: "\f073";
}

.project.coming-soon .music-sub.date::after {
    content: " Coming soon";
    font-weight: 400;
}

.project.coming-soon {
    position: relative;
    cursor: pointer;
}

.project.coming-soon::after {
    content: "Pre-save";
    text-align: center;
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 6px 8px;
    border-radius: 3px;
    color: #ffffff;
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #4621ff;
    z-index: 99;
    line-height: 1;
    font-size: 0.9em;
    pointer-events: none;
    position: absolute;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.2s;
    left: 50%;
    translate: -50% -30%;
    padding-bottom: 7px;
    scale: 0.9;
}

.project.coming-soon:hover:after {
    opacity: 1;
    scale: 1;
    translate: -50% -30%;
}

.more-music-link-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-music-link {
    margin-bottom: 80px;
    transition: 0.2s;
    opacity: 0.7;
    border: 1px solid var(--card-border);
    text-align: center;
    border-radius: 15px;
    background: var(--card-bg);
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
    user-select: none;
    -webkit-user-select: none;
}

.more-music-link:hover {
    opacity: 0.9;
    cursor: pointer;
    border: 1px solid var(--card-border);
}

.more-music-launcher {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background: var(--card-bg);
    border: 1px solid var(--card-border);
    animation: launcher-popup 0.2s;
    padding: 5px;
    border-radius: 15px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.3s;
}

.more-music-launcher.hidden {
    opacity: 0;
    transform: scale(0.95) translateY(4px) translateX(-50%);
}

.more-music-store {
    padding: 6px 11px;
    cursor: pointer;
    min-width: 65px;
    text-align: center;
    transition: 0.2s;
    display: inline-block;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.8);
}

.more-music-store:hover {
    background: var(--card-bg);
}

@keyframes launcher-popup {
    from {
        opacity: 0;
        transform: scale(0.95) translateY(4px) translateX(-50%);
    }
}

button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

button[disabled]:active {
    pointer-events: none;
}

button[disabled]:hover::after {
    display: none;
}

button[disabled]:hover {
    color: #fff;
    opacity: 0.5;
}

.links a {
    position: relative;
    transition:
        0.2s transform,
        0.2s opacity;
    opacity: 0.8;
}

.links a img {
    height: 50px;
    width: 50px;
}

.links {
    margin-left: 20px;
    display: flex;
    width: 100px;
}

.links a::after {
    position: absolute;
    bottom: -5px;
    right: 50%;
    pointer-events: none;
    font-size: 15px;
    transform: translateX(50%) translateY(10px);
    opacity: 0;
    font-weight: 300;
    transition: 0.2s;
    text-align: center;
    content: attr(tooltip);
}

.links a:hover {
    transform: translateY(-2px);
    opacity: 1;
}

.links a:hover::after {
    opacity: 0.9;
}

.going-left,
.coming-left {
    transform: translateX(calc(-1 * var(--project-animateX)));
    opacity: 0;
}

.going-right,
.coming-right {
    transform: translateX(var(--project-animateX));
    opacity: 0;
}

.select-project-type-wrap {
    display: flex;
    border-radius: 15px;
    padding: 0 2px;
    border: 1px solid var(--card-border);
    position: relative;
    background: var(--card-bg);
    margin-top: 10px;
}

.select-project-type-wrap .indicator {
    position: absolute;
    left: 0;
    margin: 5px;
    bottom: 0;
    top: 0;
    border-radius: 12px;
    transition: 0.2s;
    width: 65px;
    background: var(--card-bg);
}

.select-project-type {
    padding: 4px 9px;
    margin: 5px 3px;
    cursor: pointer;
    min-width: 65px;
    text-align: center;
    border: 1px dashed transparent;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.8);
}

.select-project-type:hover {
    color: white;
    font-style: italic;
}

.select-project-type.selected {
    color: rgba(255, 255, 255, 1);
    font-style: italic;
}

.animate {
    transition: 0.7s opacity, 0.5s transform;
}
.animate-hidden {
    opacity: 0;
    transform: translateY(3px) scale(0.99);
}
.animate-hidden#visual {
    transform: translateY(3px);
}

@media only screen and (max-width: 1000px) {
    .projects {
        padding: 0;
    }

    .project {
        height: fit-content;
        width: 600px;
    }
}

@media only screen and (min-width: 700px) {
    .projects {
        flex-flow: wrap;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .box {
        width: 46% !important;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        display: flex;
        flex-direction: column-reverse;
    }
    
    /* i hate to have to do this */
    .title::after {
        left: 0; 
        top: 51.5px;
    }

    .links a svg,
    .links a img {
        height: 40px;
        width: 40px;
        opacity: 0.6;
    }
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: 0 !important;
        transition: 0s !important;
    }
}
