@import "theme.css";
a {
	text-decoration: none;
}

html {
	background: var(--bg-l0);
	overscroll-behavior: none;
}
body {
	color: var(--fg-l1);
	height: 100vh;
	height: 100dvh;
	width: 100vw;
	margin-inline: auto;
	overflow: hidden;
	line-height: 1.7;
	text-wrap: pretty;
}
.inner {
	padding: 40px;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100vh;
	height: 100dvh;
	display: grid;
	flex-direction: column;
	position: relative;
	justify-items: center;
	align-content: space-between;
	perspective: 10px;
}
.inner,
article {
	-webkit-overflow-scrolling: touch;
}

#visual {
	position: fixed;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	height: 100dvh;
	min-width: 900px;
	display: flex;
	align-items: flex-end;
}
#visual svg {
	min-width: 900px;
	translate: 0 100px;
	width: 100%;
}

h1 {
	font-size: 50px;
	width: 100%;
	text-align: center;
	letter-spacing: -0.04em;
}

article {
	text-shadow: 0 0 10px var(--bg-l0);
	max-width: 70ch;
	margin-inline: 2rem;
}
article p,
article li {
	margin-block: 0.8rem;
}
article li > p {
	margin-block: 0.3rem;
}
article li::marker {
	color: var(--fg-l4);
}
article p.star {
	position: relative;
	color: var(--fg-l0);
}
article p.star::before {
	content: "★";
	color: var(--fg-accent);
	position: absolute;
	left: -1.6rem;
	scale: 1.4;
	text-shadow: 0 0 20px var(--fg-accent);
	animation:
		starry 17s linear infinite,
		starryin 2s both 2s;
}
@keyframes starry {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
@keyframes starryin {
	from {
		left: -10rem;
		opacity: 0;
	}
}

.title-box-for-layout-purposes {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	margin-inline: auto;
	margin-block-end: 2rem;
}
.title-box-for-layout-purposes p {
	width: 100%;
	margin: 0;
}
.title {
	font-weight: 500;
	transition: 0s;
	font-size: calc(2rem + 2vw);
	margin-bottom: 5px;
	font-style: italic;
	position: relative;
	color: rgba(255, 255, 255, 0.9);
}
.title::after {
	color: rgba(255, 105, 0);
	clip-path: polygon(
		0 0,
		100% 0,
		100% 36%,
		75% 36%,
		75% 0%,
		60% 0%,
		60% 36%,
		0 36%
	);
	position: absolute;
	text-align: center;
	content: "pineapplerinp";
}

@media only screen and (max-width: 400px) {
	h1 {
		display: flex;
		flex-direction: column-reverse;
	}

	/* i hate to have to do this */
	.title::after {
		left: 0;
		top: 51.5px;
	}
}

.animate {
	transition: 0.8s opacity;
}
.animate-hidden {
	opacity: 0;
}
@media (prefers-reduced-motion: reduce) {
	.animate {
		transition: 0;
	}
	.animate-hidden {
		opacity: 1;
	}
}
* {
	margin: 0;
	box-sizing: border-box;
}
body {
	/*background: hsl(200, 100%, 10%);*/
	/*font-size: 120%;*/
	height: 100%;
	padding-block: 1rem;
}
footer {
	bottom: 1rem;
	width: 100%;
	display: grid;
	place-items: center;
	justify-self: flex-end;
}
footer > div {
	padding: 4px 20px;
	background: var(--bg-l0-light);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	display: flex;
	gap: 1rem;
	border-radius: 14px;
}

footer div {
	z-index: 3;
}
footer .amdg {
	position: relative;
	z-index: 3;
}
footer .amdg:hover {
	color: var(--fg-l0);
}

footer div > :not(.amdg) {
	position: relative;
}
footer > div > span {
	color: var(--fg-l4);
	scale: 1.4;
	display: inline-block;
}
p {
	width: fit-content;
}

.background-amdg-container,
.screening-background {
	/*background: hsl(200, 100%, 10%);*/
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	background: var(--bg-l0);
	opacity: 0;
	display: grid;
	place-items: center;
	height: 100%;
	width: 100%;
	position: fixed;
	inset: 0;
	z-index: 2;
}
@supports (background: color-mix(in hsl, white, black)) {
	.background-amdg-container,
	.screening-background {
		background: color-mix(in hsl, var(--bg-l0) 80%, transparent);
	}
}
.wrapper-amdg-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	visibility: hidden;
	user-select: none;
}
em {
	color: var(--fg-l0);
}
.amdg + * i {
	margin-top: 0.3em;
	display: inline-block;
	opacity: 0.6;
}
.amdg {
	user-select: none;
	cursor: default;
	letter-spacing: 0.07rem;
	z-index: 3;
}
.amdg span {
	display: inline-block;
	white-space: pre;
	overflow: hidden;
	overflow: clip;
	vertical-align: bottom;
}
.helpful-amdg-exit-notice-frater {
	animation:
		gentle-waver 4s ease infinite,
		fade-in 1s linear;
	opacity: 0.4;
	position: absolute;
	top: 2rem;
	top: 2lh;
}
@keyframes fade-in {
	from {
		opacity: 0;
	}
}
@keyframes gentle-waver {
	from,
	to {
		opacity: 0.4;
	}
	50% {
		opacity: 0.8;
	}
}

.screening-background {
	animation: fade-in 0.5s;
	opacity: 1;
	padding-block: 2rem;
	overflow-y: auto;
	transition: opacity 0.5s;
}
.screening-background article {
	animation: popup 0.4s;
}
@keyframes popup {
	from {
		translate: 0 17px;
	}
}
h2:has(.close) {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.close {
	border-radius: 99px;
	background: var(--bg-l0);
	border: 1px solid var(--fg-l2);
	color: var(--fg-l2);
	font-size: 1.5rem;
	line-height: 2rem;
	margin: 0;
	padding: 0;
	font-weight: 400;
	width: 2rem;
}
.close:hover {
	background: var(--bg-l1);
	border: 1px solid var(--fg-l0);
	color: var(--fg-l0);
}
.unlockable {
	position: relative;
}
.unlockable > * {
	filter: blur(5px);
}
.unlockable.unlocked > * {
	filter: blur(0px);
}
.unlockable::after {
	inset: -0.5rem;
	inset-inline: -1rem;
	position: absolute;
	border-radius: 1rem;
	background: var(--bg-l1-light);
	border: 1px solid var(--bg-l2);
	z-index: 4;
	content: "Click to see where I'm coming from.";
	display: grid;
	padding: 0.5rem 1rem;
}
.unlockable.unlocked::after {
	background: transparent;
	border: 1px solid transparent;
	content: "";
}
.citation-rule {
	margin-top: 3rem;
	margin-bottom: 0.8rem;
	height: 1px;
	background: var(--bg-l2);
	width: 100%;
}
.citation-rule ~ p {
	color: var(--fg-l4);
}
blockquote {
	padding-left: 2rem;
	border-left: 2px solid var(--fg-l3);
	color: var(--fg-l3);
	font-style: italic;
}
