.title,
.title::after {
	font-size: 3rem;
}

a.nostyle {
	color: var(--fg-l2);
	text-decoration: none;
}
a {
	color: var(--fg-l0);
}
h2 {
	color: var(--fg-l0);
	position: relative;
	margin-block-end: 1rem;
}
