* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background: black;
}

:root {
    --card-bg-alpha: 0.07;
    --card-bg-alpha-intense: 0.14;

    --card-border-alpha: 0.3;
    --card-border-intense-alpha: 0.8;

    --card-generic: 255, 255, 255;
    --card-bg-underground: var(--card-generic);
    --card-bg-ground: 10, 255, 10, 0.4;
    --card-bg-air: 10, 10, 255, 0.4;

    --card-border: rgba(var(--card-generic), var(--card-border-alpha));
    --card-border-intense: rgba(var(--card-generic), var(--card-border-intense-alpha));

    --video-blur: 7px;
    --animation: 1;
}

@media (prefers-reduced-motion) {
    :root {
        --animation: 0s;
    }

    * {
        transition: 0 !important
    }
}


.wrapper {
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    max-width: 500px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background: rgba(var(--card-generic), var(--card-bg-alpha));
    animation: fadeDown calc(2s * var(--animation));
    border: 1px solid var(--card-border);
}

.header {
    margin: 20px;
    animation: fadeDown both calc(2s * var(--animation));
    animation-delay: 3s;
    display: flex;
}

.header h1 {
    font-size: 50px;
    font-weight: 800;
    height: fit-content;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.header small {
    font-size: 20px;
    font-weight: 500;
    text-shadow: none;
    vertical-align: text-bottom;
    margin-top: 29px;
    margin-left: 10px;
}

.main {
    animation: popup both calc(3s * var(--animation));
    animation-delay: 4s;
}

.pane {
    transition: 0.4s;
    padding: 20px;
    background: rgba(var(--card-generic), var(--card-bg-alpha-intense));
    backdrop-filter: blur(var(--video-blur));
    -webkit-backdrop-filter: blur(var(--video-blur));
}

.pane .button-store-link {
    transition: border 0.2s, opacity 0.5s, scale 0.5s;
}

.button-store-link.hidden {
    opacity: 0 !important;
    scale: 0.96;
}

.pane-switchers {
    width: 100%;
    background: rgba(var(--card-generic), var(--card-bg-alpha));
    display: flex;
    transition: 0.4s;
    backdrop-filter: blur(var(--video-blur));
    -webkit-backdrop-filter: blur(var(--video-blur));
    padding: 4px 7px;
    border-bottom: 1px solid var(--card-border);
}

.underground {
    background: rgba(var(--card-bg-underground), var(--card-bg-alpha-intense));
}

.ground {
    background: rgba(var(--card-bg-ground));
}

.air {
    background: rgba(var(--card-bg-air));
}

[disabled] {
    color: rgba(255, 255, 255, 0.497);
    user-select: none;
    -webkit-user-select: none;
    cursor: not-allowed;
}

.pane-switcher {
    padding: 6px 12px 20px 12px;
    position: relative;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: 0.4s;
}

.pane-switcher:hover:not([disabled]) {
    background: rgba(var(--card-generic), var(--card-bg-alpha));
    cursor: pointer;
}

.pane-switcher::after {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    content: attr(data-date);
    font-size: 11px;
    white-space: nowrap;
    transition: 0.2s;
}

.pane-switcher.selected {
    background: rgba(var(--card-generic), var(--card-bg-alpha));
    border: 1px solid var(--card-border);
}

.button-store-link,
.skip-animation {
    padding: 8px;
    display: inline-block;
    transition: opacity 2s, scale 2s, border 0.2s;
    margin: 1px;
    border: 1px solid var(--card-border);
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    background: rgba(var(--card-generic), var(--card-bg-alpha));
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.457);
}

.button-store-link {

}

.button-store-link:not([disabled]):hover,
.skip-animation:hover {
    border: 1px solid var(--card-border-intense);
    scale: 1.01;
}

.button-store-link[disabled] {
    opacity: 0.7;
    position: relative;
    cursor: not-allowed;
}

.button-store-link[disabled]::after {
    content: "Soon...";
    color: white;
    opacity: 0.8;
    position: absolute;
    top: -60%;
    pointer-events: none;
    transition: 0.2s;
    opacity: 0;
    left: 50%;
    text-shadow: 0 0 7px black;
    font-size: 90%;
    transform: translateX(-50%) translateY(-2px);
}

.button-store-link[disabled]:hover::after,
.button-store-link[disabled]:focus-within::after {
    opacity: 1;
    transform: translateX(-50%);
}

.bg-image {
    position: absolute;
    top: 0;
    left: 0;
    animation: fadeIn both calc(3s * var(--animation));
    animation-delay: 4s;
    z-index: -3;
    transition: 2s;
}

.bg-image img {
    width: 100vw;
    filter: blur(40px);
    height: 100vh;
    object-fit: cover;
}

.bg-image.showing {
    opacity: 1 !important;
}

video {
    position: absolute;
    top: -56.25%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100% !important;
    height: auto !important;
    z-index: -1;
    animation: fadeIn both;
    animation-duration: calc(3s * var(--animation));
    animation-delay: 200ms;
}

.skip-animation {
    position: fixed;
    bottom: 10px;
    transition: all 0.2s;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-10px)
    }
}

@keyframes popup {
    from {
        opacity: 0;
        backdrop-filter: blur(var(--video-blur)) opacity(0);
        transform: translateY(100%)
    }
    to {
        backdrop-filter: blur(var(--video-blur)) opacity(1);
    }
}



@media only screen and (min-width: 2000px) {
    .🌿 {
        top: -20vw;
    }
}

*:not(span) {
    font-family: Inter, system-ui, sans-serif;
    color: white;
    cursor: default;
    margin: 0;
}

@keyframes popout {
    from{translate: 0 -90px;opacity: 0;}
}