<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Download</title>
    <link href="index.css" rel="stylesheet">
</head>
<body class="componentdownload">
    <nav>
        <a>Navbar</a>
        <ul>
            <li>To Copy</li>
            <li>Element</li>
            <li>Inspect</li>
        </ul>
    </nav>
    <div class="fullpage">
        <h1>Component Download</h1>
        <p>Get components for your website.</p>
        <button>Get Started</button>
    </div>
    <div class="fullpage darker">
        <div class="card">
            <img src="modal.jpg">
            <div>
                <h1>Modal</h1>
                <button class="outlined">OPEN</button>
            </div>
        </div>
    </div>
    <div class="showing" id="modal">
        <div class="modal-content">
            <p>&times;</p>
            <h1>Modal Content</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum lacus quis urna molestie, bibendum egestas augue tempus. Vivamus pretium, arcu quis ornare finibus, tellus dui cursus sem, id sodales nunc turpis sollicitudin magna. Curabitur consequat dictum tincidunt. Mauris hendrerit, justo vel tincidunt elementum, nibh est fermentum metus, vitae tempor ante odio id ante. Quisque at tincidunt diam. Fusce non arcu a quam fringilla mollis. Suspendisse quis mollis metus. Curabitur vel tortor tellus. Integer consequat est a diam lacinia fringilla. Nullam vel nisi hendrerit, imperdiet ante eget, tempus lorem. Suspendisse commodo egestas neque a placerat. Etiam blandit mattis justo, nec luctus nulla rhoncus eu. Aenean ac pretium augue. Curabitur sed lectus pharetra, convallis sem quis, condimentum massa. Quisque euismod, nunc a venenatis pulvinar, ipsum mi blandit tellus, quis sollicitudin mi enim a ex.</p>
        </div>
    </div>
<script> </script>
</body>
</html>