* {
    font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}

body {
    margin:0;
}

svg {
    margin-bottom:-50px;
}
nav {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    z-index:100;
    background:rgba(0, 0, 0, 0.137);
    color:white;
    padding:20px;
}

nav ul {
    list-style-type: none;
    margin:0;
    margin-right: 40px;
}

nav ul li, nav a {
    float: right;
    display: inline;
    padding: 10px 12px;
    margin:5px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
}

nav a {
    float: left;
    margin-left: 40px;
}
nav ul li:hover { 
    opacity:0.8
}

.fullpage {
    height:30vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background:#fff;
    padding-top: 200px;
    color:white;
}

.fullpage.home {
    background: #0059ff;
}

.fullpage h1 {
    font-size:calc(50px + 2vw);
    margin: 1px;
}

.fullpage p {
    margin:5px;
    font-size:calc(10px + 1vw);
    margin-bottom: 25px;
}

button {
    border-radius: 4px;
    color: #ffffff;
    letter-spacing: .6px;
    line-height: 24px;
    padding: 0px 28px;
    color: #fff;
    border:0;
    outline:0;
    display:inline-block;
    text-align:center;
    position: relative;
    margin: 0;
    white-space: nowrap;
    vertical-align: middle;
    text-transform: uppercase;
    transition: 0.3s;
    height: 56px;
    border-radius: 3px;
    overflow:hidden;
    background: linear-gradient(125deg, rgba(9,9,121,0) 4%, rgba(3,2,51,0) 52%, rgba(217, 217, 217, 0.308) 54%, rgba(2,23,60,0) 56%, rgba(0,212,255,0) 100%);
    background-size:400% 400%;
    background-position-x: 100%;
    border: 1px solid white;
}

button.outlined {
    background: 0;
    border: 1px solid #1a73e8;
    color: #1a73e8;
}
button.text {
    background:0;
    border:0;
    color:#1a73e8;
}
button:hover {
    background-position-x: 40%;
}
button.outlined:hover {
    background: rgba(26, 115, 232, 0.151);
}

.card {
    background:#eee;
    display:flex;
    justify-content:space-evenly;
    align-items: center;color:black;
    border-radius: 23px/17px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.445);
    margin:20px;
}

.card h1 {
    font-size:calc(30px + 1vw);
    margin:30px;
    margin-bottom:0;
}

.card button {
    margin: 30px;
    margin-top:0;
}

#modal {
    position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 0vh;
	background-color: transparent;
	overflow: hidden;
	transition: background-color 0.5s ease;
	z-index: 9999;
}

#modal.showing {
    position: fixed;
		width: 100vw;
		height: 100vh;
		background-color: rgb(0, 0, 0);
}

.modal-content{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 50vw;
        height:50vh;
		margin: 0;
		padding: 2.5rem;
		background-color: white;
		border-radius: 0.3125rem;
		box-shadow: 0 0 2.5rem rgba(0,0,0,0.5);
		transition: transform 0.5s;
		transition-delay: 0.15s;
        position:relative;
}

.modal-content h1 {
    font-size:calc(30px + 3vw);
    margin: 0;
    width:fit-content
}

.modal-content p {
    font-size:calc(10px + 1vw);
    margin: 1px;
}

.card img {
    max-height: 200px;
    border-radius: 17px;
}