$dk: #36393f;
$ltr: #4e5158;
$tx: #dcddde;

body {
    background: $dk;
    color: $tx;
    font-family: Whitney, Arial, Helvetica, sans-serif;
}

.message-container {

    padding: 6px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 20px;
    div {
        display: flex;
    }
    &:after {
        content: '';
        
        width: 5px;
        background-size: cover;
        position: absolute;
        left:0;
        top:0;
        bottom:0;
        height: 100%;
        border-radius: 5px;
        z-index: 0;
    }
}
div.column {
    flex-direction: column;
    margin: 5px;
}
img {
    height: 50px;
    width: 50px;
    margin-right: 5px;
    border-radius: 100px;
}

.role {
    border:0;
    margin-right: 5px;
    background: $ltr;
    padding: 3px 6px;
    font-size:12px;
    border-radius: 4px;
    height:fit-content;
    &:nth-child(even) .role-circle {
        background: #ff8534
    }
    &:nth-child(3) .role-circle {
        background: #818181
    }
    .role-circle {
        height: 10px;
        width:10px;
        margin: 1.24px;
        border-radius: 100px;
        margin-right: 5px;
        background: #000000;
        
    }
}
.more {
    font-size: 12px;
    padding: 3px 
}
.badges {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.badges img {
    height: 25px;
    width:25px;
}
hr {
    border:0;
    background: white;
    opacity:0.5;
    width: 80%;
    margin:0;
    margin-top: 10px;
    height:1px;
}