* {
    font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}
html {
    scroll-behavior: smooth;
}
body {
    margin:0;
}

svg {
    margin-bottom:-50px;
}
nav {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    z-index:100;
    background:rgba(0, 0, 0, 0.137);
    color:white;
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    margin:0;
    margin-right: 40px;
}

nav ul li, nav a {
    float: right;
    display: inline;
    padding: 10px 12px;
    margin:5px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
}

nav a {
    float: left;
    margin-left: 40px;
}
nav ul li:hover { 
    opacity:0.8
}

.fullpage {
    height:30vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    background:#fff;
    padding-top: 200px;
    color:white;
}

.fullpage.home {
    background: rgba(20,109,207);
}

.fullpage h1 {
    font-size:calc(50px + 2vw);
    margin: 1px;
}

.fullpage p {
    margin:5px;
    font-size:calc(10px + 1vw);
    margin-bottom: 25px;
}

button {
    border-radius: 4px;
    color: #ffffff;
    letter-spacing: .6px;
    padding: 14px 23px;
    color: #fff;
    border:0;
    outline:0;
    text-align:center;
    position: relative;
    margin: 0;
    white-space: nowrap;
    text-transform: uppercase;
    transition: 0.3s;
    border-radius: 3px;
    overflow:hidden;
    background: linear-gradient(125deg, rgba(9,9,121,0) 4%, rgba(3,2,51,0) 52%, rgba(217, 217, 217, 0.308) 54%, rgba(2,23,60,0) 56%, rgba(0,212,255,0) 100%);
    background-size:400% 400%;
    background-position-x: 100%;
    border: 1px solid white;
}
button.outlined {
    border: 1px solid rgba(20,109,207);
    color:  rgba(20,109,207);
    margin:0;
}
button:hover {
    background-position-x: 40%;
}
button.outlined:hover {
    background: rgba(20,109,207);
    color:white
}
.card {
    background:#eee;
    display:flex;
    justify-content:center;
    align-items: center;color:black;
    border-radius: 23px/17px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.445);
    margin:20px;
}

.card h1 {
    font-size:calc(30px + 1vw);
    margin:30px;
    margin-bottom:0;
}

.card button {
    margin: 30px;
    margin-top:0;
}

#modal {
    position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 0vh;
	background-color: transparent;
	overflow: hidden;
	transition: background-color 0.5s ease;
	z-index: 9999;
}

#modal.showing {
    position: fixed;
		width: 100vw;
		height: 100vh;
		background-color: rgb(0, 0, 0);
}

.modal-content{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 50vw;
        height:50vh;
		margin: 0;
		padding: 2.5rem;
		background-color: white;
		border-radius: 0.3125rem;
		box-shadow: 0 0 2.5rem rgba(0,0,0,0.5);
		transition: transform 0.5s;
		transition-delay: 0.15s;
        position:relative;
}

.modal-content h1 {
    font-size:calc(30px + 3vw);
    margin: 0;
    width:fit-content
}

.modal-content p {
    font-size:calc(10px + 1vw);
    margin: 1px;
}

.card img {
    max-height: 200px;
    border-radius: 17px;
}

nav .mobile {
    display:none;
    background-image:url('imgs/burger.png');
    height:40px;
    background-size:contain;
    background-repeat:no-repeat;
    width:60px;
    filter:drop-shadow(0 0 4px rgba(0, 0, 0, 0.432));
    transition: 0.3s;
}

nav .mobile:hover {
    filter:drop-shadow(0 0 10px rgba(0, 0, 0, 0.733));
    transform:scale(1.02)
}
#mobileNav {
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background: rgba(70, 99, 143, 0.87);
    z-index:100;
    display:none;
    opacity:0;
    transform:scale(1.5);
    transition: 0.5s;

    flex-direction:column;
    align-items: center;
    justify-content: center;
}

#mobileNav ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

#mobileNav li {
    color:white;
    font-size:30px;
    margin:10px;
    text-align:center;
    font-weight:700;
}
#close {
    top:15px;
    right:25px;
    font-size:50px;
    margin:0;
    color:white;
    position: absolute;
    font-weight:200;
    cursor:pointer;
}
@media only screen and (max-width:700px) {
    .fullpage h1 {
        font-size:40px;
    }
    nav ul {
        display: none;
    }
    nav .mobile {
        display: flex;
    }
}