* {
    margin: 0;
    color: white;
    font-family: Public Sans
}

.colourscont {
    height: 100vh;
    width: 100vw;
    background-color: #111120;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 2s;
    top: 0;
}

body {
    height: 1000px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #111120;
}

.bg {
    background: conic-gradient(rgba(255, 0, 0, 0.3), rgba(255, 125, 0, 0.3), rgba(125, 255, 0, 0.3), rgba(0, 255, 0, 0.3), rgba(0, 255, 125, 0.3), rgba(0, 125, 255, 0.3), rgba(0, 0, 255, 0.3), rgba(125, 0, 255, 0.3), rgba(255, 0, 255, 0.3), rgba(255, 0, 125, 0.3), rgba(255, 0, 0, 0.3));
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    clip-path: polygon(0% 0%, 100% 0, 100% 96%, 66% 100%, 32% 96%, 32% 96%, 0% 99%, 0% 99%);
}

.colourscont h2 {
    transition: 2s;
    transform: translateY(10px);
    opacity: 0;
}

.colourscont.showing-lol h1,
.colourscont.showing-lol h2 {
    opacity: 1;
    transform: translateY(0px);
}

.colourscont.showing-lol h1 {
    text-shadow: -5px 0 10px red, 5px 0 10px blue, 0px -5px 10px lime, 0px 5px 10px yellow;
}

.colourscont h1 {
    font-size: calc(60px + 4vw);
    text-shadow: -0px 0 0px red, 0px 0 0px blue, 0px -0px 0px lime, 0px 0px 0px yellow;
    font-family: Inter, system-ui;
    font-weight: 900;
    transform: translateY(10px);
    opacity: 0;
    transition: 2s;
    width: fit-content;
    z-index: 3;
}

h1 {
    font-size: 40px;
}

h2 {
    font-weight: 400;
    opacity: 0.7
}

section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 50px;
    background-color: #111120;
    z-index: 3;
    clip-path: polygon(0% 0%, 100% 0, 100% 96%, 66% 100%, 32% 96%, 32% 96%, 0% 99%, 0% 99%);
}

section.wavy {
    padding: 130px 50px;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
}

.card {
    padding: 20px;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    width: 300px;
    height: 100px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset -11px -11px 22px #0e0e17,
        inset 11px 11px 22px #2f2f4f;
    background: rgba(255, 255, 255, 0.07);
    transition: 0.1s;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: inset -11px -11px 22px #0b0b13,
        inset 11px 11px 22px #3e3e63;
}

.card:active {
    transform: scale(0.98);
    box-shadow: inset 11px 11px 22px #0b0b13,
        inset -11px -11px 22px #3e3e63;
}

.card img {
    max-height: 100px;
    max-width: 200px;
    overflow: visible;
}

a::after {
    content: "";
    width: 1em;
    height: 1em;
    margin: 0 0.05em 0 0.1em;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNOSAyTDkgMyAxMi4zIDMgNiA5LjMgNi43IDEwIDEzIDMuNyAxMyA3IDE0IDcgMTQgMlpNNCA0QzIuOSA0IDIgNC45IDIgNkwyIDEyQzIgMTMuMSAyLjkgMTQgNCAxNEwxMCAxNEMxMS4xIDE0IDEyIDEzLjEgMTIgMTJMMTIgNyAxMSA4IDExIDEyQzExIDEyLjYgMTAuNiAxMyAxMCAxM0w0IDEzQzMuNCAxMyAzIDEyLjYgMyAxMkwzIDZDMyA1LjQgMy40IDUgNCA1TDggNSA5IDRaIi8+PC9zdmc+) no-repeat;
    background-size: contain;
    filter: invert(1);
    display: inline-block;
    color: white;
    margin-bottom:-2px;
    transition: 0.2s;
}
a:hover::after {
    transform: translate(2px,-2px)
}

@media only screen and (max-width:1000px) {
    .cards {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:800px) {
    .cards {
        flex-direction: column
    }
}