* {
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: Roboto Flex, system-ui, sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background: rgb(0, 3, 21);
    width: 100vw;
    height: 100vh;
}

section {
    width: 100vw;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#000,rgb(0, 3, 21));
    justify-content: center;
}

section.gradient {
    height: 90vh;

    background: conic-gradient(#000, rgb(5, 0, 35), #000, rgb(5, 0, 35), #000)
}

h1 {
    font-size: 50px;
    font-weight: 900;
}

h2 {
    font-size: 35px;
    font-weight: 200;
}

button {
    color: white;
    padding: 10px 20px;
    border:0;
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 20px;
}
button.special {
    background: #2237da82;
}

button.special:hover {
    background: #2237dac5;
}

code {
    font-family: monospace;
    padding: 2px;
    background: rgba(255,255,255,0.1);
}

p {
    max-width: 500px;
    text-align:center;
}

footer, nav {
    text-align: center;
    padding: 10px;
    background: rgba(255, 255, 255, 0.022);
    font-size: 12px;
    font-weight: 100;
    opacity: 0.7
}

