* {
    margin: 0;
    font-family: PT Sans Mono, 'Courier New', Courier, monospace, system-ui, sans-serif;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
}

aside {
    background: rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
}

aside hr {
    margin: 10px;
}

button, select {
    padding: 10px 20px;
    border: 0;
    background: rgba(32, 15, 117, 0.6);
    border: 1px solid rgba(44, 17, 180, 0.425);
    color: white;
    position:relative;
    transition: 0.2s;
    border-radius:10px;min-width: 70px;
}
button:hover, select:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    border: 1px solid rgb(40, 17, 158);
}
main {
    width:100%;
    transition: 0.2s;
    --border: rgba(0,0,0,0.1);
    --color: rgba(0,0,0);
}
main.dark {
    --border: rgba(255,255,255,0.1);
    --color: rgba(255,255,255);
    background: #222;
}
.comment ,.inner, .top-comment .top-meta, .name-downarrow {
    display: flex;
}
.comment {
    border-top: 1px solid var(--border);
    padding: 10px;
    align-items: center;
    color:var(--color);
}
.comment img, .top-comment img {
    height: 60px;
    padding-right:5px;
}
.comment .inner {
    flex-direction: column;
    margin-left:5px;
    width:100%;
}
.comment *, .top-comment * {
    font-family: Helvetica Neue, SF Pro, San Francisco, Arial, Arimo, Helvetica, sans-serif !important;
}
.inner > .top {
    display: flex;
    width:100%;
    justify-content: space-between;
}

.name-downarrow {
    justify-content: space-between;
    width:calc(100% - 73px);
}
.comment .name {
    font-weight: 600;
    margin-bottom: 4px;
}

.comment .name span, .introverted {
    font-weight: 400;
    opacity: 0.5;
}

.timestamp {
    opacity: 0.6;
    display: flex;
    align-items: center;
}
.down-arrow {
    width: 7px;
    height:7px;
    margin-bottom:7px;
    margin-left:5px;
    border: 1.4px solid var(--color);
    border-right:0;border-top:0;
    transform:rotate(-45deg);
}

.comment-top {

}