* {
    margin: 0;
    font-family: Inter, sans-serif;
    color: white;
}

body {
    background: #000020;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

canvas {
    position: fixed;
    top: 0;
    opacity: 2;
}

#canvas2 {
    opacity: 0.5;
}

.banner {
    z-index: 6;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: dodgerblue;
    transition: 0.5s;
    cursor: pointer;
    text-align: center;
    padding: 10px;

}

.hidden {
    transform: translateY(-80px)
}

#controls {
    right: 0;
    top: 0;
    margin: 20px;
    background: rgba(255, 255, 255, 0.1);
    position: fixed;
    z-index: 2;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3)
}

button {
    padding: 10px 13px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    transition: 0.4s;
    background: rgba(255, 255, 255, 0.1);
}

button:hover {
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.1);
}