* {
    box-sizing: border-box;
    margin:0;
}
body, html {
    margin:0;
    font-family: Inter, Thonburi, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

nav {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    box-shadow: 0 0 40px 5px rgba(0,0,0,0.5);
    font-family: Inter, Thonburi, Arial, Helvetica, sans-serif;
    padding:0;
    background: rgba(255, 255, 255, 0.774);
    animation: navload 1s;
    z-index: 10;
}

nav ul {
    list-style-type: none;
    margin:0;
    margin-right: 100px;
    padding:0;
}

nav ul li, nav ul a, nav a.left {
    float: right;
    display: inline;
    padding: 24px 28px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.6s;
    margin:0;
}

nav a.left {
    float: left;
    margin-left: 40px;
}

nav ul a {
    margin:0;
    padding:0;
    color: black;
    text-decoration: none;
}
nav ul li:hover {
    box-shadow: inset 0px -100px rgba(0, 0, 0, 0.479);
    color: white;
}

nav ul li:hover a {
    color: white;
}

.fullpage {
    margin:0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to top, #161618 0%, transparent 50%), url("image0.jpg");
    background-size: cover;
}

.fullpage.second {
    background:#161618
}

.fullpage:not(.second) h1 {
    color: white;
    text-shadow: 0 0 10px black;
    font-size: 150px;
    font-family: Cabin;
    animation: fade-in 1s;
}

.fullpage h2 {
    color: white;
    text-shadow: 0 0 10px black;
    font-size: 50px;
    font-style: oblique;
    font-family: Bitter, serif;
    animation: skew-in 1s;
}

.line {
    height: 4px;
    width: 50px;
    background-color: white;
    box-shadow: 0 0 10px black;
    margin-left: 20px;
    margin-right: 20px;

    animation: width 1s;
}

.container {
    display: flex;
    align-items: center;
}

.fullpage.second h1 {
    color: white;
}

.discord-wrap {
    border-radius: 10px;
    background-color: #fff;
    color: black;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.37);
    margin: 40px;
    overflow: hidden;
    padding: 20px;
    transition:.2s;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.discord-wrap:hover {
    transform: translateY(-4px);
    box-shadow: 0 14px 20px 5px rgba(255, 255, 255, 0.412);
}

div div h1 {
    font-weight: 800;
    font-size: 30px;
    width: 300px;
    color: black;
    text-align: center;
}

.discord-wrap p {
    font-size: 20px;
    color: black;
    width: 300px;
    text-align: center;
}

.discord-wrap img {
    height: 340px;
    background-position: center;
    border-radius: 10px;
}

#overlay {
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.712);
    transform: scale(1.4);

    z-index: 11;
    transition: 0.3s;
    opacity:0;
}
#modal {
    position: relative;
    background-color: #36393f;
    -webkit-box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 0 1px rgba(32,34,37,.6), 0 2px 10px 0 rgba(0,0,0,.2);
    color: white;
    border-radius: 5px;
    min-height: 150px;
    border-radius: 5px;
    padding:0;
    width: 350px;
}

#modal h1 {
    margin: 5px;
    margin-left:15px;
    margin-top: 15px;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .3px;
    padding:0;
    text-align: left;
}

#modal p {
    font-size: 16px;
    line-height: 20px;
    margin: 5px;
    margin-left:15px;
    margin-top: 15px;
}

#modal button {
    color:  rgb(170, 170, 170);
    text-align: center;
    background-color:rgb(239, 239, 239);
    box-sizing: border-box;
    margin: 0em;
    font: 400 15px Arial;
    padding: 1px 6px;
    color: #fff;
    background-color: #7289da;
    height: 38px;
    min-width: 86px;
    min-height: 38px;
    position: relative;
    border-radius: 3px;
    border:0;
    outline:0;
}

#modal button.no {
    background: transparent;
}

button:focus {
    outline:0;
}


#modal button.no:hover {
    text-decoration: underline white;
    background: transparent;
}

.buttonalign {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left:0;
    background-color: rgb(42, 43, 48);
    display: flex;
    margin:0;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
}

#modal button:hover {
    background-color: rgb(113, 128, 216);
}

@keyframes navload {
    from {top: -10%;}
}

@keyframes fade {
    from {transform: scale(1.01)}
}
@keyframes fade-in {
    from {transform: translatey(20px); opacity:0;}
}
@keyframes skew-in {
    from {transform: skew(10deg); opacity:0;}
}
@keyframes width {
    from {width:0;}
}