* {
    box-sizing: border-box;
    margin:0;
}
body, html {
    margin:0;
    font-family: Inter, Thonburi, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

nav {
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    box-shadow: 0 0 40px 5px rgba(0,0,0,0.5);
    font-family: Inter, Thonburi, Arial, Helvetica, sans-serif;
    padding:0;
    background: rgba(255, 255, 255, 0.774);
    animation: navload 1s;
    z-index: 10;
}

nav ul {
    list-style-type: none;
    margin:0;
    margin-right: 100px;
    padding:0;
}

nav ul li, nav ul a, nav a.left {
    float: right;
    display: inline;
    padding: 24px 28px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.6s;
    margin:0;
}

nav a.left {
    float: left;
    margin-left: 40px;
}

nav ul a {
    margin:0;
    padding:0;
    color: black;
    text-decoration: none;
}
nav ul li:hover {
    box-shadow: inset 0px -100px rgba(0, 0, 0, 0.479);
    color: white;
}

nav ul li:hover a {
    color: white;
}

.fullpage {
    margin:0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to top, #161618 0%, transparent 50%), url("image0.jpg");
    background-size: cover;
}

.fullpage.second {
    background:#161618
}

.fullpage:not(.second) h1 {
    color: white;
    text-shadow: 0 0 10px black;
    font-size: 150px;
    font-family: Cabin;
    animation: fade-in 1s;
}

.fullpage h2 {
    color: white;
    text-shadow: 0 0 10px black;
    font-size: 50px;
    font-style: oblique;
    font-family: Bitter, serif;
    animation: skew-in 1s;
}

.line {
    height: 4px;
    width: 50px;
    background-color: white;
    box-shadow: 0 0 10px black;
    margin-left: 20px;
    margin-right: 20px;

    animation: width 1s;
}

.container {
    display: flex;
    align-items: center;
}

.fullpage.second h1 {
    color: white;
}

@keyframes navload {
    from {top: -10%;}
}

@keyframes fade {
    from {transform: scale(1.01)}
}
@keyframes fade-in {
    from {transform: translatey(20px); opacity:0;}
}
@keyframes skew-in {
    from {transform: skew(10deg); opacity:0;}
}
@keyframes width {
    from {width:0;}
}